[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "G.STATE = G.STATES.NEW_ROUND"
position = "at"
payload = '''
if 
    G.GAME.blind.config.blind.key == 'bl_grasslanders_matriarch' and 
    not G.GAME.blind.disabled
then
    G.STATE = G.STATES.DRAW_TO_HAND
else
    G.STATE = G.STATES.NEW_ROUND
end
'''
match_indent = true